<ion-header>
    <ion-toolbar>
        <ion-title class="text-uppercase"
            >{{"accountTab.homePage.title" | translate}}</ion-title
        >
    </ion-toolbar>
</ion-header>

<ion-content>
    <div
        class="container h-100 d-flex flex-column"
        style="justify-content: space-evenly;"
    >
        <!-- #region Sign In or Register account -->
        <div class="row" (click)="openLoginModal()">
            <div class="col d-flex flex-row align-items-center">
                <p><i class="fas fa-user-circle fa-2x"></i></p>
                <p class="ml-3" style="font-size: large;">
                    <!-- Sign In or Register -->
                    {{"accountTab.homePage.signInOrRegister" | translate}}
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Setting to change anything -->
        <div class="row">
            <div class="col d-flex flex-row align-items-center">
                <p>
                    <i class="fad fa-sliders-h fa-lg"></i>
                </p>
                <p class="ml-3">
                    {{"accountTab.homePage.setting" | translate}}
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Help - support and About company -->
        <div class="row">
            <div class="col d-flex flex-row align-items-center">
                <p>
                    <i class="fad fa-question-circle fa-lg"></i>
                </p>
                <p class="ml-3">{{"accountTab.homePage.help" | translate}}</p>
            </div>
        </div>

        <div class="row">
            <div class="col d-flex flex-row align-items-center">
                <p>
                    <i class="fad fa-info-circle fa-lg"></i>
                </p>
                <p class="ml-3">{{"accountTab.homePage.about" | translate}}</p>
            </div>
        </div>
        <!-- #endregion -->
        <ion-button
            (click)="changeLanguage('vn')"
            [disabled]="currentLanguage=='vn'"
            >{{ 'language.vietnamese' | translate }}</ion-button
        >
        <ion-button
            (click)="changeLanguage('en')"
            [disabled]="currentLanguage=='en'"
            >{{ 'language.english' | translate }}</ion-button
        >
        <ion-button
            (click)="changeTheme('dark')"
            [disabled]="currentTheme=='dark'"
        >
            {{ 'theme.dark' | translate }}
        </ion-button>
        <ion-button
            (click)="changeTheme('light')"
            [disabled]="currentTheme=='light'"
            >{{ 'theme.light' | translate }}</ion-button
        >
    </div>
</ion-content>
