<ion-header>
    <ion-toolbar>
        <ion-title class="text-uppercase"
            >{{"accountTab.homePage.title" | translate}}</ion-title
        >
    </ion-toolbar>
</ion-header>

<ion-content>
    <div
        class="container h-100 d-flex flex-column"
        style="justify-content: space-evenly;"
    >
        <!-- #region Display when user Logged In -->
        <ng-container *ngIf="isLoggedIn">
            <div class="row">
                <div class="col">
                    <ion-item lines="none">
                        <ion-avatar>
                            <img src="assets/images/empty-avatar.png" />
                        </ion-avatar>
                        <ion-label class="ml-3">toannguyen@gmail.com</ion-label>
                    </ion-item>
                </div>
            </div>

            <div class="row" (click)="openLoginModal()">
                <div class="col d-flex flex-row align-items-center">
                    <p class="mb-0"><i class="fad fa-gift-card fa-lg"></i></p>
                    <p class="ml-3 mb-0" style="font-size: large;">
                        <!-- Sign In or Register -->
                        {{"accountTab.homePage.myReferralID" | translate}}
                    </p>
                </div>
            </div>

            <div class="row" (click)="openLoginModal()">
                <div class="col d-flex flex-row align-items-center">
                    <p class="mb-0">
                        <i class="fad fa-address-card fa-lg"></i>
                    </p>
                    <p class="ml-3 mb-0" style="font-size: large;">
                        <!-- Sign In or Register -->
                        {{"accountTab.homePage.identityAuthentication" |
                        translate}}
                    </p>
                    <p class="mb-0">
                        <span class="ml-5 badge badge-secondary">
                            {{"accountTab.homePage.unIdentity" | translate}}
                        </span>
                    </p>
                </div>
            </div>

            <div class="row" (click)="openLoginModal()">
                <div class="col d-flex flex-row align-items-center">
                    <p class="mb-0">
                        <i class="fad fa-shield-cross fa-lg"></i>
                    </p>
                    <p class="ml-3 mb-0" style="font-size: large;">
                        <!-- Sign In or Register -->
                        {{"accountTab.homePage.security" | translate}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <hr />
                </div>
            </div>
        </ng-container>
        <!-- #endregion -->

        <!-- #region Sign In or Register account -->
        <div *ngIf="!isLoggedIn" class="row" (click)="openLoginModal()">
            <div class="col d-flex flex-row align-items-center">
                <p class="mb-0"><i class="fas fa-user-circle fa-2x"></i></p>
                <p class="ml-3 mb-0" style="font-size: large;">
                    <!-- Sign In or Register -->
                    {{"accountTab.homePage.signInOrRegister" | translate}}
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Setting to change anything -->
        <div class="row" routerLink="/setting">
            <div class="col d-flex flex-row align-items-center">
                <p class="mb-0">
                    <i class="fad fa-sliders-h fa-lg"></i>
                </p>
                <p class="ml-3 mb-0">
                    {{"accountTab.homePage.setting" | translate}}
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Help - support and About company -->
        <div class="row">
            <div class="col d-flex flex-row align-items-center">
                <p class="mb-0">
                    <i class="fad fa-question-circle fa-lg"></i>
                </p>
                <p class="ml-3 mb-0">
                    {{"accountTab.homePage.help" | translate}}
                </p>
            </div>
        </div>

        <div class="row" (click)="clearAllStorage()">
            <div class="col d-flex flex-row align-items-center">
                <p class="mb-0">
                    <i class="fad fa-info-circle fa-lg"></i>
                </p>
                <p class="ml-3 mb-0">
                    {{"accountTab.homePage.about" | translate}}
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <div class="row" *ngIf="isLoggedIn" (click)="logoutUser()">
            <div class="col">
                <button class="btn btn-outline-warning">Log out</button>
            </div>
        </div>
    </div>
</ion-content>
