<div class="row mt-3">
    <div class="col p-0">
        <table class="table">
            <thead class="thead-inverse">
                <tr>
                    <th>
                        {{ 'exchangeTab.public.type' | translate }}
                    </th>
                    <th>
                        {{ 'exchangeTab.public.price' | translate }}
                    </th>
                    <th>
                        {{ 'exchangeTab.public.amount' | translate }}
                    </th>
                    <th>
                        {{ 'exchangeTab.public.total' | translate }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let order of histories">
                    <tr
                        data-toggle="collapse"
                        [attr.data-target]="'#order-' + order.id"
                    >
                        <td *ngIf="order.type == 1" class="buy-type">
                            {{ 'exchangeTab.public.buy' | translate }}
                            <i class="fas fa-arrow-up"></i>
                        </td>

                        <td *ngIf="order.type == 2" class="sell-type">
                            {{ 'exchangeTab.public.sell' | translate }}
                            <i class="fas fa-arrow-down"></i>
                        </td>
                        <td>{{ order.price | number }}</td>
                        <td>{{ order.amount }}</td>
                        <td>{{ order.total | number }}</td>
                    </tr>
                    <div [attr.id]="'order-' + order.id" class="collapse">
                        <tr>
                            <td colspan="2" class="text-center p-0">
                                {{ 'exchangeTab.public.complete' | translate }}
                            </td>
                            <td colspan="2" class="text-center p-0 text-info">
                                {{ order.date | date: 'dd/MM/yyyy hh:mm:ss' }}
                            </td>
                        </tr>
                    </div>
                </ng-container>
            </tbody>
        </table>
    </div>
</div>
