<ion-content height="100%" style="--overflow: hidden;">
    <div class="container pt-3">
        <div class="row">
            <ion-searchbar
                placeholder="{{'walletTab.homePage.enterCoinWallet' | translate}}"
            ></ion-searchbar>
        </div>

        <div class="row mt-2">
            <div class="col">
                <ion-list lines="inset">
                    <ion-list-header>
                        <ion-label class="font-weight-bold"
                            >{{'walletTab.homePage.priceEstimate' |
                            translate}}</ion-label
                        >
                        <ion-label class="text-right pr-2"
                            >{{111280000 | number}}</ion-label
                        >
                    </ion-list-header>

                    <div style="height: 70vh; overflow: auto;">
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/bitcoin.png"
                                    alt="bitcoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>BTC</h5>
                                <span class="text-muted">Bitcoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0.5</h5>
                            </ion-label>
                        </ion-item>

                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/ethereum.png"
                                    alt="ethereum.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>ETH</h5>
                                <span class="text-muted">Ethereum</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>1.2</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/dogecoin.png"
                                    alt="dogecoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>DOGE</h5>
                                <span class="text-muted">Dogecoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/bitcoin.png"
                                    alt="bitcoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>BTC</h5>
                                <span class="text-muted">Bitcoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0.5</h5>
                            </ion-label>
                        </ion-item>

                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/ethereum.png"
                                    alt="ethereum.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>ETH</h5>
                                <span class="text-muted">Ethereum</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>1.2</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/dogecoin.png"
                                    alt="dogecoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>DOGE</h5>
                                <span class="text-muted">Dogecoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/bitcoin.png"
                                    alt="bitcoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>BTC</h5>
                                <span class="text-muted">Bitcoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0.5</h5>
                            </ion-label>
                        </ion-item>

                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/ethereum.png"
                                    alt="ethereum.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>ETH</h5>
                                <span class="text-muted">Ethereum</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>1.2</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/dogecoin.png"
                                    alt="dogecoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>DOGE</h5>
                                <span class="text-muted">Dogecoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/bitcoin.png"
                                    alt="bitcoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>BTC</h5>
                                <span class="text-muted">Bitcoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0.5</h5>
                            </ion-label>
                        </ion-item>

                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/ethereum.png"
                                    alt="ethereum.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>ETH</h5>
                                <span class="text-muted">Ethereum</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>1.2</h5>
                            </ion-label>
                        </ion-item>
                        <ion-item routerLink="/balance">
                            <ion-avatar slot="start">
                                <img
                                    src="assets/images/coin-logo/dogecoin.png"
                                    alt="dogecoin.png"
                                />
                            </ion-avatar>
                            <ion-label>
                                <h5>DOGE</h5>
                                <span class="text-muted">Dogecoin</span>
                            </ion-label>
                            <ion-label slot="end" class="text-right">
                                <h5>0</h5>
                            </ion-label>
                        </ion-item>
                    </div>
                </ion-list>
            </div>
        </div>
    </div>
</ion-content>
