// .open-order {
//     padding: 0;
//     ul {
//         flex-direction: row;
//         li {
//             flex: 1;
//             text-align: center;
//             a {
//                 border-radius: 0;
//                 font-weight: bold;
//             }
//         }
//     }

//     .nav-link.active {
//         background-color: #f3bc07;
//     }

//     .tab-content {
//         padding-top: 10px;
//         .open-sell,
//         .open-buy {
//             table {
//                 th {
//                     font-size: small;
//                     color: var(--ion-color-step-700);
//                     vertical-align: middle;
//                 }
//                 td {
//                     font-size: small;
//                     color: white;
//                     vertical-align: middle;
//                 }
//             }
//         }
//     }

//     .tab-content > div {
//         padding: 0;
//     }

//     //**************************************
//     table {
//         font-size: small;
//         display: block;
//         thead th {
//             color: var(--ion-color-step-700);
//         }
//         thead {
//             display: block;
//             tr {
//                 display: flex;
//                 th:nth-child(1) {
//                     flex: 2;
//                 }
//                 th:nth-child(2) {
//                     flex: 2;
//                 }
//                 th:nth-child(3) {
//                     flex: 2;
//                 }
//                 // th:nth-child(4) {
//                 //     flex: 1;
//                 // }
//             }
//         }

//         tbody {
//             display: block;
//             height: 60vh;
//             overflow: auto;
//             tr {
//                 display: flex;
//                 align-items: center;
//                 td:nth-child(1) {
//                     flex: 2;
//                 }
//                 td:nth-child(2) {
//                     flex: 2;
//                 }
//                 td:nth-child(3) {
//                     flex: 2;
//                 }
//                 // td:nth-child(4) {
//                 //     flex: 1;
//                 // }
//             }
//             tr:active {
//                 background-color: rgb(72, 121, 194);
//             }

//             .btn-remove {
//                 background-color: transparent;
//                 border-color: transparent;
//                 i {
//                     color: #caa52b;
//                 }
//             }
//         }
//     }
// }

.open-order {
    padding: 0;
    ul {
        flex-direction: row;
        li {
            flex: 1;
            text-align: center;
            a {
                border-radius: 0;
                font-weight: bold;
            }
        }
    }

    .nav-link.active {
        background-color: #f3bc07;
    }

    .tab-content {
        ion-list ion-item {
            ion-label {
                font-size: medium;
            }
        }
    }

    .tab-content > div {
        padding: 0;
    }
}
