<div class="open-order" style="padding-top: 20px; height: 100%">
    <ul class="nav nav-tabs" style="justify-content: space-around;">
        <li class="nav-item">
            <a
                class="nav-link text-uppercase active"
                data-toggle="tab"
                href="#openSell"
            >
                {{ 'exchangeTab.public.sell' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a
                class="nav-link text-uppercase"
                data-toggle="tab"
                href="#openBuy"
            >
                {{ 'exchangeTab.public.buy' | translate }}
            </a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <!-- #region Open Sell content -->
        <div class="tab-pane container active" id="openSell">
            <div class="open-sell">
                <!-- #region Content with order lists -->
                <ng-container *ngIf="openOrdersSell.length > 0">
                    <ion-list lines="none">
                        <ion-list-header class="text-muted">
                            <ion-label>
                                {{ 'exchangeTab.public.price' | translate }}
                            </ion-label>
                            <ion-label>
                                {{ 'exchangeTab.public.amount' | translate }}
                            </ion-label>
                            <ion-label>
                                {{ 'exchangeTab.public.total' | translate }}
                            </ion-label>
                        </ion-list-header>

                        <div class="list-sell-order">
                            <ion-item-sliding
                                *ngFor="let order of openOrdersSell"
                            >
                                <ion-item>
                                    <ion-label
                                        class="text-left m-0 sell-price"
                                        >{{ order.price | number }}</ion-label
                                    >
                                    <ion-label class="text-center m-0">{{
                                        order.amount
                                    }}</ion-label>
                                    <ion-label
                                        class="text-right m-0 sell-total"
                                        >{{
                                            order.price * order.amount | number
                                        }}</ion-label
                                    >
                                </ion-item>

                                <ion-item-options side="end">
                                    <ion-item-option color="danger" expandable>
                                        {{
                                            'exchangeTab.exchangeOpenOrder.delete'
                                                | translate
                                        }}
                                    </ion-item-option>
                                </ion-item-options>
                                <ion-item-options side="start">
                                    <ion-item-option>{{
                                        order.date | date: 'd/M/yy hh:m:s'
                                    }}</ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding>
                        </div>
                    </ion-list>

                    <p
                        class="text-center mb-0"
                        [innerHTML]="
                            'exchangeTab.exchangeOpenOrder.swipeLeft'
                                | translate
                        "
                    >
                        <!-- * Swipe <span style="color: orange">left</span> to
                        delete select order opening. -->
                    </p>

                    <p
                        class="text-center mb-0"
                        [innerHTML]="
                            'exchangeTab.exchangeOpenOrder.swipeRight'
                                | translate
                        "
                    >
                        <!-- * Swipe <span style="color: orange">right</span> to show
                        order open time. -->
                    </p>
                </ng-container>
                <!-- #endregion -->

                <!-- #region content with empty order -->
                <ng-container *ngIf="openOrdersSell.length == 0">
                    <div style="text-align: center;">
                        <h5>Open order is empty!</h5>
                        <img
                            src="assets/images/empty-box.png"
                            alt="empty-box.png"
                        />
                    </div>
                </ng-container>
                <!-- #endregion -->
            </div>
        </div>

        <!-- #endregion -->

        <!-- #region Open Buy content -->
        <div class="tab-pane container fade" id="openBuy">
            <div class="open-buy">
                <ng-container *ngIf="openOrdersBuy.length > 0">
                    <ion-list lines="none">
                        <ion-list-header class="text-muted">
                            <ion-label>
                                {{ 'exchangeTab.public.price' | translate }}
                            </ion-label>
                            <ion-label>
                                {{ 'exchangeTab.public.amount' | translate }}
                            </ion-label>
                            <ion-label>
                                {{ 'exchangeTab.public.total' | translate }}
                            </ion-label>
                        </ion-list-header>

                        <div class="list-sell-order">
                            <ion-item-sliding
                                *ngFor="let order of openOrdersBuy"
                            >
                                <ion-item>
                                    <ion-label
                                        class="text-left m-0 buy-price"
                                        >{{ order.price | number }}</ion-label
                                    >
                                    <ion-label class="text-center m-0">{{
                                        order.amount
                                    }}</ion-label>
                                    <ion-label
                                        class="text-right m-0 buy-total"
                                        >{{
                                            order.price * order.amount | number
                                        }}</ion-label
                                    >
                                </ion-item>

                                <ion-item-options side="end">
                                    <ion-item-option color="danger" expandable>
                                        {{
                                            'exchangeTab.exchangeOpenOrder.delete'
                                                | translate
                                        }}
                                    </ion-item-option>
                                </ion-item-options>
                                <ion-item-options side="start">
                                    <ion-item-option>{{
                                        order.date | date: 'd/M/yy hh:m:s'
                                    }}</ion-item-option>
                                </ion-item-options>
                            </ion-item-sliding>
                        </div>
                    </ion-list>

                    <p
                        class="text-center mb-0"
                        [innerHTML]="
                            'exchangeTab.exchangeOpenOrder.swipeLeft'
                                | translate
                        "
                    >
                        <!-- * Swipe <span style="color: orange">left</span> to
                        delete select order opening. -->
                    </p>

                    <p
                        class="text-center mb-0"
                        [innerHTML]="
                            'exchangeTab.exchangeOpenOrder.swipeRight'
                                | translate
                        "
                    >
                        <!-- * Swipe <span style="color: orange">right</span> to show
                        order open time. -->
                    </p>
                </ng-container>

                <ng-container *ngIf="openOrdersBuy.length == 0">
                    <div style="text-align: center;">
                        <h5>Open order is empty!</h5>
                        <img
                            src="assets/images/empty-box.png"
                            alt="empty-box.png"
                        />
                    </div>
                </ng-container>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</div>

<script>
    $(document).ready(function() {
        $('[data-toggle="popover"]').popover();
    });
</script>
