<div class="open-order" style="padding-top: 20px; height: 100%">
    <ul class="nav nav-tabs" style="justify-content: space-around;">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#openSell"
                >SELL</a
            >
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#openBuy">BUY</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="openSell">
            <div class="open-sell">
                <table class="table table-borderless table-sm">
                    <thead>
                        <tr>
                            <th>Price</th>
                            <th>Amount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>212,000,000</td>
                            <td>0.5</td>
                            <td>106,000,000</td>
                            <td>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>212,000,000</td>
                            <td>0.5</td>
                            <td>106,000,000</td>
                            <td>
                                <button class="btn btn-danger btn-sm">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane container fade" id="openBuy">
            open buy
        </div>
    </div>
</div>
