<div class="open-order" style="padding-top: 20px; height: 100%">
  <ul class="nav nav-tabs" style="justify-content: space-around;">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#openSell">SELL</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#openBuy">BUY</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <!-- OPEN SELL CONTENT -->
    <div class="tab-pane container active" id="openSell">
      <div class="open-sell">
        <ng-container *ngIf="openOrdersSell.length > 0">
          <table class="table table-borderless table-sm">
            <thead>
              <tr>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td>
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="openOrdersSell.length == 0">
          <div style="text-align: center;">
            <h5>Open order is empty!</h5>
            <img src="assets/images/empty-box.png" alt="empty-box.png" />
          </div>
        </ng-container>
      </div>
    </div>

    <!-- OPEN BUY CONTENT -->
    <div class="tab-pane container fade" id="openBuy">
      <div class="open-buy">
        <ng-container *ngIf="openOrdersBuy.length > 0">
          <table class="table table-borderless table-sm" id="table-open-buy">
            <thead>
              <tr>
                <th>Price</th>
                <th>Amount</th>
                <th>Total</th>
                <th class="text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>212,000,000</td>
                <td>0.5</td>
                <td>106,000,000</td>
                <td class="text-center">
                  <button class="btn btn-danger btn-sm btn-remove">
                    <i class="fas fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </ng-container>

        <ng-container *ngIf="openOrdersBuy.length == 0">
          <div style="text-align: center;">
            <h5>Open order is empty!</h5>
            <img src="assets/images/empty-box.png" alt="empty-box.png" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
