ion-content {
    .container {
        .row-logo {
            .col {
                font-weight: bold;
                margin-top: auto;
                margin-bottom: auto;
                p {
                    font-size: small;
                }
            }
        }

        .row.balance {
            .col p {
                margin-bottom: 5px;
            }
        }

        .row.equity {
            .col p {
                margin-bottom: 5px;
            }
        }

        .row.go-to-trade {
            font-size: medium;
            padding: 0 5px;
            .col-6 {
                padding: 5px;
            }
            .trade-badge {
                background-color: var(--ion-color-balancepage-tradebadge);
                border-radius: 2px;
                padding: 4px 7px;
            }
        }
    }
}

ion-footer {
    .btn-deposit {
        color: white;
        // font-weight: bold;
        background-color: var(--ion-buy-color);
        border-radius: 2px;
    }
    .btn-withdraw {
        color: white;
        // font-weight: bold;
        background-color: var(--ion-sell-color);
        border-radius: 2px;
    }
}
