<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="tabs/wallet"
                text="{{'walletTab.balancePage.wallet' | translate}}"
                color="medium"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>{{'walletTab.balancePage.balance' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div
        class="container d-flex flex-column h-100"
        style="justify-content: space-evenly;"
    >
        <!-- #region LOGO and NAME -->
        <div class="row row-logo">
            <div class="col text-right pr-2">
                <img
                    src="../../../assets/images/coin-logo/ethereum2.png"
                    width="35px"
                    alt="ethereum.png"
                />
            </div>
            <div class="col text-left pl-1">
                <h3 class="m-0">ETH</h3>
                <p class="m-0 text-muted">Ethereum</p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Statistics balance -->
        <div class="row balance">
            <div class="col">
                <p class="text-muted font-weight-bold">
                    {{'walletTab.balancePage.total' | translate}}
                </p>
                <p class="text-muted font-weight-bold">
                    {{'walletTab.balancePage.available' | translate}}
                </p>
                <p class="text-muted font-weight-bold">
                    {{'walletTab.balancePage.inOrder' | translate}}
                </p>
            </div>
            <div class="col">
                <p class="text-right" style="font-size: large;">0.00</p>
                <p class="text-right">0.00</p>
                <p class="text-right">0.00</p>
            </div>
        </div>
        <hr class="m-0" style="border: 0.1px solid #343a40;" />
        <div class="row equity">
            <div class="col">
                <p class="text-muted font-weight-bold">
                    {{'walletTab.balancePage.equityValue' | translate}}(ETH)
                </p>
                <p class="text-muted font-weight-bold">
                    {{'walletTab.balancePage.equityValue' | translate}}(VND)
                </p>
            </div>
            <div class="col">
                <p class="text-right">0.00</p>
                <p class="text-right">0,000,000</p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Go to trade badge -->

        <div class="row go-to-trade">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <p class="text-muted font-weight-bold">
                            {{'walletTab.balancePage.gotoExchangeTrade' |
                            translate}}
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6" routerLink="/tabs/exchange">
                        <div class="trade-badge">
                            <div class="row">
                                <div class="col text-muted">ETH / VND</div>
                            </div>
                            <div class="row">
                                <div class="col">4,217,000</div>
                                <div class="col text-right text-success">
                                    +2.38%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" routerLink="/tabs/exchange">
                        <div class="trade-badge">
                            <div class="row">
                                <div class="col text-muted">ETH / USDT</div>
                            </div>
                            <div class="row">
                                <div class="col">177.33</div>
                                <div class="col text-right text-success">
                                    +2.38%
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6" routerLink="/tabs/exchange">
                        <div class="trade-badge">
                            <div class="row">
                                <div class="col text-muted">ETH / VND</div>
                            </div>
                            <div class="row">
                                <div class="col">4,217,000</div>
                                <div class="col text-right text-success">
                                    +2.38%
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6" routerLink="/tabs/exchange">
                        <div class="trade-badge">
                            <div class="row">
                                <div class="col text-muted">ETH / USDT</div>
                            </div>
                            <div class="row">
                                <div class="col">177.33</div>
                                <div class="col text-right text-success">
                                    +2.38%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <ion-col col-6>
                    <button class="btn btn-deposit w-100" routerLink="/deposit">
                        {{'walletTab.balancePage.deposit' | translate}}
                    </button>
                </ion-col>
                <ion-col col-6>
                    <button
                        class="btn btn-withdraw w-100"
                        routerLink="/withdraw"
                    >
                        {{'walletTab.balancePage.withdraw' | translate}}
                    </button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
