<div class="container">
    <!-- FORM BUY/SELL -->
    <div class="row buy-sell-order">
        <!-- FORM SELL -->
        <div class="col-6">
            <label for="Price">
                {{ 'exchangeTab.public.price' | translate }}
            </label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">–</span>
                </div>
                <input
                    type="text"
                    class="form-control text-center"
                    name="txtSellPrice"
                    value="9.5"
                />
                <div class="input-group-append">
                    <span class="input-group-text">+</span>
                </div>
            </div>

            <label for="Amount">
                {{ 'exchangeTab.public.amount' | translate }}
            </label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">–</span>
                </div>
                <input
                    type="text"
                    class="form-control text-center"
                    name="txtSellAmount"
                    value="0.0"
                />
                <div class="input-group-append">
                    <span class="input-group-text">+</span>
                </div>
            </div>

            <label for="Total">
                {{ 'exchangeTab.public.total' | translate }}
            </label>
            <div class="input-group mb-3 input-group-sm">
                <input
                    type="text"
                    class="form-control text-center"
                    placeholder="{{
                        'exchangeTab.public.total' | translate
                    }}(VND)"
                    name="txtSellTotal"
                />
            </div>

            <button
                type="button"
                class="btn btn-success text-uppercase form-control border-0"
            >
                {{ 'exchangeTab.public.buy' | translate }}
            </button>
        </div>
        <!-- END - FORM SELL -->

        <!-- FORM BUY -->
        <div class="col-6">
            <label for="Price">
                {{ 'exchangeTab.public.price' | translate }}
            </label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">–</span>
                </div>
                <input
                    type="text"
                    class="form-control text-center"
                    name="txtBuyPrice"
                    value="0.0"
                />
                <div class="input-group-append">
                    <span class="input-group-text">+</span>
                </div>
            </div>
            <label for="Amount">
                {{ 'exchangeTab.public.amount' | translate }}
            </label>
            <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                    <span class="input-group-text">–</span>
                </div>
                <input
                    type="text"
                    class="form-control text-center rounded-0"
                    name="txtBuyAmount"
                    value="9.5"
                />
                <div class="input-group-append">
                    <span class="input-group-text">+</span>
                </div>
            </div>

            <label for="Total">
                {{ 'exchangeTab.public.total' | translate }}
            </label>
            <div class="input-group mb-3 input-group-sm">
                <input
                    type="text"
                    class="form-control text-center"
                    name="txtBuyTotal"
                    placeholder="{{
                        'exchangeTab.public.total' | translate
                    }}(VND)"
                />
            </div>
            <button
                type="button"
                class="btn btn-danger text-uppercase form-control border-0"
            >
                {{ 'exchangeTab.public.sell' | translate }}
            </button>
        </div>
        <!-- END - FORM BUY -->
    </div>
    <!-- END - FORM BUY/SELL -->

    <!-- TABLE BUY SELL ORDER -->
    <div class="row mt-3 buy-sell-order-table">
        <!-- table for sell order -->
        <div class="col-6">
            <table class="table table-borderless sell-table">
                <thead>
                    <tr class="text-muted">
                        <th class="text-left w-auto">
                            {{ 'exchangeTab.public.price' | translate }}(VND)
                        </th>
                        <th class="text-right pl-0">
                            {{ 'exchangeTab.public.amount' | translate }}(BTC)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- style="background: linear-gradient(to left, #ff005e52 70%, transparent 0)" -->
                    <tr
                        *ngFor="let order of sellOrders"
                        [style.background]="
                            'linear-gradient(to left, #c128445e ' +
                            (order.amount / maxSellAmount) * 100 +
                            '%, transparent 0)'
                        "
                    >
                        <td class="text-left price">
                            {{ order.price | number }}
                        </td>
                        <td class="text-right amount">
                            {{ order.amount | number: '1.4' }}
                        </td>
                    </tr>
                    <!-- <tr>
                        <td class="text-left price">230,000,000</td>
                        <td class="text-right">0.1234567</td>
                    </tr> -->
                </tbody>
            </table>
        </div>

        <!-- table for buy order -->
        <div class="col-6">
            <table class="table table-borderless buy-table">
                <thead>
                    <tr class="text-muted">
                        <th class="text-left w-auto">
                            {{ 'exchangeTab.public.price' | translate }}(VND)
                        </th>
                        <th class="text-right">
                            {{ 'exchangeTab.public.amount' | translate }}(BTC)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let order of buyOrders"
                        [style.background]="
                            'linear-gradient(to left, #138a1d4f ' +
                            (order.amount / maxBuyAmount) * 100 +
                            '%, transparent 0)'
                        "
                    >
                        <td class="text-left price">
                            {{ order.price | number }}
                        </td>
                        <td class="text-right amount">
                            {{ order.amount | number: '1.4' }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- END - TABLE BUY SELL ORDER-->

    <div class="row decimal">
        <div class="col">
            <ion-list lines="none">
                <ion-item style="--color: #ffc107; --background: #002742;">
                    <ion-label>
                        {{ 'exchangeTab.exchangeTrade.decimal' | translate }}
                    </ion-label>
                    <ion-select>
                        <ion-select-option value="4 digit"
                            >4
                            {{
                                'exchangeTab.exchangeTrade.digits' | translate
                            }}</ion-select-option
                        >
                        <ion-select-option value="6 digit"
                            >6
                            {{
                                'exchangeTab.exchangeTrade.digits' | translate
                            }}</ion-select-option
                        >
                        <ion-select-option value="8 digit"
                            >8
                            {{
                                'exchangeTab.exchangeTrade.digits' | translate
                            }}</ion-select-option
                        >
                        <ion-select-option value="default" selected>
                            {{
                                'exchangeTab.exchangeTrade.default' | translate
                            }}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </div>
    </div>
</div>
