.buy-sell-order {
    input {
        background-color: var(--ion-color-all-input);
        color: var(--ion-color-text);
        border-color: var(--ion-color-all-input-border);
        border-radius: 0;
        text-align: center;
    }

    .input-group {
        height: 25px;
    }
    .input-group * {
        height: 100%;
    }

    .input-group-prepend span {
        background-color: var(--ion-color-all-input-prepend-append);
        color: var(--ion-color-all-input-prepend-append-text);
        border: 0;
        font-weight: bold;
        border-radius: 0;
        font-size: larger;
    }
    .input-group-append span {
        background-color: var(--ion-color-all-input-prepend-append);
        color: var(--ion-color-all-input-prepend-append-text);
        border: 0;
        font-weight: bold;
        border-radius: 0;
        font-size: larger;
    }

    .btn {
        border-radius: 0;
        padding: 0;
        height: 25px;
    }

    label {
        font-size: smaller;
        margin-bottom: 0;
    }
}

.buy-sell-order-table {
    font-size: 0.8em;

    .col-6 {
        padding: 0;
    }
    table {
        background-color: transparent;
        padding: 0;

        tbody {
            height: 200px;
            overflow-y: auto;
            display: block;
            .amount {
                color: var(--ion-color-text);
            }
        }
        thead {
            display: block;
        }
        td,
        th {
            width: 100%;
        }

        td {
            padding: 5px 12px;
        }
    }

    table.sell-table {
        tbody tr td.price {
            // color: #db026c;
            color: var(--ion-sell-color);
            font-weight: bold;
        }
    }

    table.buy-table {
        tbody tr td.price {
            color: var(--ion-buy-color);
            font-weight: bold;
        }
    }
}

.decimal {
    ion-list {
        padding: 0;
        ion-item {
            --background: transparent !important;
        }
    }
}
