<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="market">
            <i class="fas fa-2x fa-funnel-dollar"></i>
            <ion-label>Market</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="exchange">
            <i class="fas fa-gavel fa-2x"></i>
            <ion-label>Exchange</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="funds">
            <i class="fas fa-wallet fa-2x"></i>
            <ion-label>Funds</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="contact"></ion-icon>
            <ion-label>Account</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
