// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
/* roboto-regular - latin */
// @font-face {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 800;
//     src: url('../assets/fonts/roboto-v20-latin-regular.ttf'); /* IE9 Compat Modes */
// }

:root {
    /** primary **/
    // --ion-font-family: 'Barlow';
    // --ion-font-family: 'Rubik', sans-serif;
    --ion-font-family: 'Roboto Condensed', sans-serif;
    // --ion-font-family: 'Roboto Slab', serif;
    // --ion-font-family: 'Inconsolata', monospace;
    --ion-buy-color: #33be85;
    --ion-sell-color: #e0284c;

    --ion-color-primary: #3880ff;
    --ion-color-primary-rgb: 56, 128, 255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

    /** secondary **/
    --ion-color-secondary: #0cd1e8;
    --ion-color-secondary-rgb: 12, 209, 232;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #0bb8cc;
    --ion-color-secondary-tint: #24d6ea;

    /** tertiary **/
    --ion-color-tertiary: #7044ff;
    --ion-color-tertiary-rgb: 112, 68, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;

    /** success **/
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;

    /** warning **/
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;

    /** danger **/
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}

body.dark {
    --ion-background-color: linear-gradient(
        0deg,
        rgba(0, 63, 92, 1) 13%,
        rgba(6, 14, 60, 1) 64%
    );

    --ion-background-color-rgb: 0, 0, 0;

    //background color
    --ion-toolbar-background: #002742;
    --ion-item-background: transparent;
    --ion-item-background-activated: #313131;
    --ion-color-navtab-active: #f3bc07;

    //text color
    --ion-text-color: #ffffff;
    --ion-color-text: #ffffff;
    --ion-color-text-light: #788a9b;
    --ion-color-main-yellow: #f3bc07;
    --ion-color-navtab-text: white;

    /*----------------------------------------*/

    //ion-main-tabs-bottom
    --ion-color-tab-icon: #a4aab3;

    //acount page - input
    --ion-color-account-login-register-input-background: #343a40;
    --ion-color-account-login-register-input-text: #ffffff;
    --ion-color-account-login-register-input-border: #424c71;

    //wallet page
    --ion-color-background-title: #3559af;
    //wallet page - withdraw
    --ion-color-background-button-withdraw: #c1d3e2;

    //balance page
    --ion-color-balancepage-tradebadge: #0d141f;

    //exchange page
    --ion-color-header-select-background: transparent;
    --ion-color-step-100: #292424; //decimal background
    --ion-color-all-input: #364352;
    --ion-color-all-input-border: #57637d;
    --ion-color-all-input-prepend-append: #57637d;
    --ion-color-all-input-prepend-append-text: #93aed6;
    --ion-color-table-text: white;

    .text-muted {
        color: var(--ion-color-text-light) !important;
    }
}

body.light {
    --ion-background-color: #f2f8fd;

    //background color
    --ion-toolbar-background: #bbdcf8;
    // --ion-toolbar-color:
    --ion-item-background: transparent;
    --ion-item-background-activated: #8db8dd;
    --ion-color-navtab-active: #f3bc07;

    //text color
    --ion-text-color: black;
    --ion-color-text: black;
    --ion-color-text-light: #788a9b;
    --ion-color-main-yellow: #f3bc07;
    --ion-color-navtab-text: black;

    /*----------------------------------------*/

    //ion-main-tabs-bottom
    --ion-color-tab-icon: #74777b;

    //acount page - input
    --ion-color-account-login-register-input-background: white;
    --ion-color-account-login-register-input-text: black;
    --ion-color-account-login-register-input-border: #d8dae2;

    //wallet page
    --ion-color-background-title: #edf6fd;
    //wallet page - withdraw
    --ion-color-background-button-withdraw: #78baf0;

    //balance page
    --ion-color-balancepage-tradebadge: #c0cde0;

    //exchange page
    --ion-color-header-select-background: transparent;
    --ion-color-step-100: white; //decimal background
    --ion-color-all-input: #ffffff;
    --ion-color-all-input-border: #dddbdb;
    --ion-color-all-input-prepend-append: #78baf0;
    --ion-color-all-input-prepend-append-text: #655e5e;
    --ion-color-table-text: black;

    .text-muted {
        color: var(--ion-color-text-light) !important;
    }
}

.my-passcode {
    --ion-background-color: #ffffff;
    --ion-text-color: black;
}
