ion-content {
    .container {
        height: 60vh;
        justify-content: space-evenly;

        input {
            border: 1px solid
                var(--ion-color-account-login-register-input-border);
            background-color: var(
                --ion-color-account-login-register-input-background
            );
            color: var(--ion-color-account-login-register-input-text);
        }
    }
}
