<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="onDismiss()" slot="start">
            <i class="fal fa-lg fa-chevron-left"></i>
            <ion-label
                >&nbsp; {{'accountTab.registerPage.login' |
                translate}}</ion-label
            >
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col">
                <h1 style="font-size: 2.5rem;">
                    {{'accountTab.registerPage.register' | translate}}
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Email</label>
                    <input
                        type="email"
                        class="form-control form-control-lg text-white bg-dark rounded-0"
                        placeholder="{{'accountTab.registerPage.enterEmail' | translate}}"
                    />
                </div>
                <div class="form-group">
                    <label
                        >{{'accountTab.registerPage.password' |
                        translate}}</label
                    >
                    <input
                        type="password"
                        class="form-control form-control-lg text-white bg-dark rounded-0"
                        placeholder="{{'accountTab.registerPage.enterPassword' | translate}}"
                    />
                    <small class="form-text text-muted"
                        >{{'accountTab.registerPage.passwordAtleast8Character' |
                        translate}}</small
                    >
                </div>

                <div class="form-group">
                    <label>
                        {{'accountTab.registerPage.reference' | translate}}
                        &nbsp; ({{'accountTab.registerPage.optional' |
                        translate}})
                    </label>
                    <input
                        type="text"
                        class="form-control form-control-lg text-white bg-dark rounded-0"
                        placeholder="{{'accountTab.registerPage.enterReference' | translate}}"
                    />
                </div>

                <div class="form-group form-check custom-checkbox">
                    <input type="checkbox" class="form-check-input" />
                    <label class="form-check-label"
                        >{{'accountTab.registerPage.iAgreeWith' | translate}}
                        <span
                            style="color: #ffce00; text-decoration: underline;"
                        >
                            {{'accountTab.registerPage.theTermOfUse' |
                            translate}}
                        </span>
                    </label>
                </div>

                <button
                    type="button"
                    class="btn btn-lg text-light btn-block rounded-0 border-0"
                    style="background: #898a96;"
                >
                    {{'accountTab.registerPage.register' | translate}}
                </button>
                <p class="text-center mt-3">
                    {{'accountTab.registerPage.accountRegister' | translate}}?
                    <span
                        (click)="onDismiss()"
                        style="color: #ffce00; text-decoration: underline;"
                        >{{'accountTab.registerPage.login' | translate}}</span
                    >
                </p>
            </div>
        </div>
    </div>
</ion-content>
