<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/balance"
                text="{{ 'walletTab.withdrawPage.balance' | translate }}"
                color="medium"
            ></ion-back-button>
        </ion-buttons>
        <ion-title
            >{{ 'walletTab.withdrawPage.withdrawal' | translate }}</ion-title
        >
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <!-- #region Logo and Coin name -->
        <div class="row coin-type pt-4">
            <div class="col d-flex">
                <img
                    src="../../assets/images/coin-logo/ethereum2.png"
                    height="20px"
                    style="margin-top: auto; margin-bottom: auto;"
                />
                <h4 class="pl-2">
                    ETH
                </h4>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Limit withdraw in 24h -->
        <div class="row limit-withdraw mt-4">
            <div class="col-10">
                <p class="text-muted">
                    {{ 'walletTab.withdrawPage.withdrawLimit' |
                    translate:{'name': '24h'} }}: 0 / 20 ETH
                </p>
            </div>
            <div class="col-2 text-right">
                <i class="far fa-question-circle" style="color: #ffce00"></i>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Input Address -->
        <div class="row input-address">
            <div class="col p-0">
                <ion-item>
                    <ion-label position="stacked"
                        >{{ 'walletTab.withdrawPage.address' | translate
                        }}</ion-label
                    >
                    <ion-input></ion-input>
                    <button
                        slot="end"
                        class="btn btn-sm text-white btn-contact"
                    >
                        <i class="far fa-address-book fa-lg"></i>
                    </button>
                    <button
                        slot="end"
                        class="btn btn-sm text-white ml-1 btn-contact"
                    >
                        <i class="fas fa-qrcode fa-lg"></i>
                    </button>
                </ion-item>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Input Amount -->
        <div class="row input-amount mt-3">
            <div class="col p-0">
                <ion-item>
                    <ion-label position="stacked"
                        >{{ 'walletTab.withdrawPage.amount' | translate
                        }}</ion-label
                    >
                    <ion-input placeholder="0 ETH"></ion-input>
                    <button
                        slot="end"
                        class="btn btn-sm text-white btn-amount-max"
                    >
                        MAX
                    </button>
                </ion-item>
                <p class="text-muted ml-3" style="font-size: smaller;">
                    {{ 'walletTab.withdrawPage.minimumWithdrawal' | translate
                    }}: <span class="text-white">0.01ETH</span>
                </p>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Show summary info of Fee, total get... -->
        <div class="row actual-amount">
            <div class="col-6 text-muted">
                {{ 'walletTab.withdrawPage.fee' | translate }}
            </div>
            <div class="col-6 text-right">0.005 ETH</div>
            <div class="col-6 text-muted">
                {{ 'walletTab.withdrawPage.actualAmount' | translate }}
            </div>
            <div class="col-6 text-right">0 ETH</div>
        </div>
        <!-- #endregion -->
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="btn btn-block btn-lg btn-withdraw">
            {{ 'walletTab.withdrawPage.withdraw' | translate }}
        </button>
    </ion-toolbar>
</ion-footer>
