<ion-header>
    <ion-toolbar>
        <ion-title class="text-uppercase">
            {{ 'marketTab.public.market' | translate }}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ul
        class="nav nav-tabs nav-tab-list"
        style="justify-content: space-around;"
    >
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#VND">VND</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#USDT">USDT</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-3">
        <div class="tab-pane container active" id="VND" style="padding: 0;">
            <table class="table bg-transparent">
                <thead>
                    <tr>
                        <th class="text-muted">Coin</th>
                        <th class="text-muted">
                            {{ 'marketTab.homePage.lastPrice' | translate }}
                        </th>
                        <th class="text-muted" style="width: 25%">
                            {{ 'marketTab.homePage.change' | translate }}
                        </th>
                    </tr>
                </thead>
                <!-- [routerLink]="['detail']"
                        routerDirection="forward" -->
                <tbody>
                    <tr (click)="onChange('BTC', 'VND')">
                        <td class="align-middle mt-0 pd-0">
                            <p>BTC</p>
                            <p class="volumn">
                                {{ 'marketTab.homePage.vol' | translate }}
                                1.2354565
                            </p>
                        </td>
                        <td class="align-middle mt-0 pd-0">
                            <p>213,000,000</p>
                        </td>
                        <td class="align-middle mt-0 pd-0">
                            <p>
                                <span class="badge badge-success w-100 p-1"
                                    >+2.5%</span
                                >
                            </p>
                        </td>
                    </tr>
                    <tr (click)="onChange('ETH', 'VND')">
                        <td class="align-middle mt-0 pd-0">
                            <p>ETH</p>
                            <p class="volumn">
                                {{ 'marketTab.homePage.vol' | translate }}
                                35.265124
                            </p>
                        </td>
                        <td class="align-middle mt-0 pd-0">
                            <p>4,213,000</p>
                        </td>
                        <td class="align-middle mt-0 pd-0">
                            <p>
                                <span class="badge badge-danger w-100 p-1"
                                    >-1.7%</span
                                >
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane container fade" id="USDT">...</div>
    </div>
</ion-content>
