table tbody tr td p {
    margin: 0;
}

table thead tr th {
    border-top: 0;
    font-size: smaller;
}

.volumn {
    font-size: small;
    color: var(--ion-color-step-800);
}

.nav-tab-list {
    flex-direction: row;
    border: 0 !important;
    li {
        flex: 1;
        text-align: center;
        a {
            font-weight: bold;
        }
    }

    .nav-link {
        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
        background: transparent;
        color: white;
        font-size: small;
    }

    .nav-link.active {
        color: #f3bc07;
        border-bottom: #f3bc07 4px solid;
    }
}
