<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/tabs/market"
                text="{{ 'marketTab.public.market' | translate }}"
                color="medium"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>{{ activatedCoin }} / {{ activatedUnit }}</ion-title>
        <i class="far fa-star pr-2" slot="end"></i>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container pt-2">
        <!-- #region show market info OHLC - Volume... -->
        <div class="row top-info">
            <!-- #region show last price, ratio... -->
            <div class="col-7 left-info">
                <div class="row">
                    <div class="col">
                        <h2 class="text-danger m-0">
                            0.0024578 <i class="fas fa-long-arrow-alt-down"></i>
                        </h2>
                    </div>
                </div>
                <div class="row" style="font-size: small;">
                    <div class="col">{{221000000 | number}}</div>
                    <div class="col text-success">+1.86%</div>
                </div>
            </div>
            <!-- #endregion -->

            <!-- #region show Volume, High, Low -->
            <div class="col-5 right-info" style="font-size: small;">
                <div class="row">
                    <div class="col text-right text-muted">
                        {{ 'marketTab.marketDetail.vol' | translate }}
                    </div>
                    <div class="col">10.5647</div>
                </div>
                <div class="row">
                    <div class="col text-right text-muted">
                        {{ 'marketTab.marketDetail.high' | translate }}
                    </div>
                    <div class="col">0.05487</div>
                </div>
                <div class="row">
                    <div class="col text-right text-muted">
                        {{ 'marketTab.marketDetail.low' | translate }}
                    </div>
                    <div class="col">0.05369</div>
                </div>
            </div>
            <!-- #endregion -->
        </div>
        <!-- #endregion -->

        <!-- #region chart tradingview -->
        <div class="row">
            <div class="col mt-2 p-0">
                <iframe
                    class="w-100"
                    style="height: 45vh; border-bottom: 4px solid #0000008a"
                    [src]="safeSrc"
                    frameborder="0"
                ></iframe>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region show market orderbook, market history, ..... -->
        <div class="row bottom-info">
            <div class="bottom-info-wrapper">
                <!-- #region TAB LIST -->
                <ul
                    class="nav nav-tabs bottom-list-market border-0"
                    style="justify-content: space-around;"
                >
                    <li class="nav-item">
                        <a
                            class="nav-link active"
                            data-toggle="tab"
                            href="#orderBook"
                        >
                            {{ 'marketTab.marketDetail.orderBook' | translate }}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a
                            class="nav-link"
                            data-toggle="tab"
                            href="#marketHistory"
                            >{{ 'marketTab.marketDetail.marketHistory' |
                            translate }}</a
                        >
                    </li>
                </ul>
                <!-- #endregion -->

                <!-- #region TAB CONTENT -->
                <div class="tab-content mt-2">
                    <!-- #region orderBook tab -->
                    <div class="tab-pane container active" id="orderBook">
                        <div class="row">
                            <!-- #region table BID -->
                            <div class="col-6 pr-0">
                                <table
                                    class="table table-borderless table-sm text-white"
                                >
                                    <thead class="thead-inverse text-muted">
                                        <tr>
                                            <th colspan="2">
                                                {{ 'marketTab.marketDetail.bid'
                                                | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of bidOrders">
                                            <td>{{order.amount}}</td>
                                            <td
                                                class="text-right"
                                                style="color:var(--ion-buy-color)"
                                            >
                                                {{order.price | number}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- #endregion -->

                            <!-- #region table ASK -->
                            <div class="col-6 pl-0">
                                <table
                                    class="table table-borderless table-sm text-white"
                                >
                                    <thead class="thead-inverse text-muted">
                                        <tr>
                                            <th colspan="2">
                                                {{ 'marketTab.marketDetail.ask'
                                                | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of askOrders">
                                            <td
                                                class="text-left"
                                                style="color: var(--ion-sell-color)"
                                            >
                                                {{order.price | number}}
                                            </td>
                                            <td class="text-right">
                                                {{ order.amount }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- #endregion -->
                        </div>
                    </div>
                    <!-- #endregion -->

                    <!-- #region MARKET HISTORY -->
                    <div class="tab-pane container fade" id="marketHistory">
                        <div class="row">
                            <div class="col">
                                <table
                                    class="table table-borderless text-white table-sm"
                                >
                                    <thead>
                                        <tr>
                                            <th class="text-muted">
                                                {{ 'marketTab.marketDetail.time'
                                                | translate }}
                                            </th>
                                            <th class="text-muted">
                                                {{
                                                'marketTab.marketDetail.price' |
                                                translate }}
                                            </th>
                                            <th class="text-muted text-right">
                                                {{
                                                'marketTab.marketDetail.quantity'
                                                | translate }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let order of marketHistory">
                                            <td>
                                                {{ order.time | date: 'hh:mm:ss'
                                                }}
                                            </td>
                                            <td
                                                [ngClass]="{'text-danger': order.type==2, 'text-success': order.type==1}"
                                            >
                                                {{ order.price | number}}
                                            </td>
                                            <td class="text-right">
                                                {{ order.amount }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- #endregion -->
                </div>
                <!-- #endregion -->
            </div>
        </div>
        <!-- #endregion -->
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <div class="row">
            <div class="col pr-1">
                <button
                    class="btn text-uppercase rounded-0 btn-block btn-sm btn-buy"
                    (click)="onClickNavigateExchangeTrade()"
                >
                    {{ 'marketTab.marketDetail.buy' | translate }}
                </button>
            </div>
            <div class="col pl-1">
                <button
                    class="btn text-uppercase rounded-0 btn-block btn-sm btn-sell"
                    (click)="onClickNavigateExchangeTrade()"
                >
                    {{ 'marketTab.marketDetail.sell' | translate }}
                </button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>
