<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button
                defaultHref="/balance"
                text="{{'walletTab.depositPage.balance' | translate}}"
                color="medium"
            ></ion-back-button>
        </ion-buttons>
        <ion-title>{{'walletTab.depositPage.deposit' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container d-flex flex-column justify-content-around h-100">
        <!-- #region Logo and Coin name -->
        <div class="row coin-type">
            <div class="col d-flex">
                <img
                    src="../../assets/images/coin-logo/ethereum2.png"
                    height="30px"
                    style="margin-top: auto; margin-bottom: auto;"
                />
                <h4 class="pl-2">
                    ETH
                </h4>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Image of qrcode and coin address -->
        <div class="row">
            <div class="col">
                <p class="text-muted">
                    {{'walletTab.depositPage.depositAddress' |
                    translate:{'coin': 'ETH'} }}
                </p>
                <div class="img-qr text-center p-4">
                    <!-- <img
                        src="https://api.qrserver.com/v1/create-qr-code/?size=120x120&data=hihihehe"
                        alt="qrcode"
                    /> -->
                    <qrcode
                        class="qrcode-hihi"
                        [qrdata]="address"
                        size="150"
                    ></qrcode>
                </div>
                <p class="text-center">
                    0x95cFaDDac52b76DA6e858Dd0896a46fcDf79E486
                </p>
                <div class="text-center">
                    <button class="btn text-white btn-copy">
                        {{'walletTab.depositPage.copyAddress' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <!-- #endregion -->

        <!-- #region Important info -->
        <div class="row important">
            <div class="col">
                <p class="text-muted">
                    {{'walletTab.depositPage.important' | translate}}
                </p>
                <div>
                    <p>
                        {{'walletTab.depositPage.importantContent' | translate:
                        {'coin': 'ETH'} }}
                    </p>
                </div>
            </div>
        </div>
        <!-- #endregion -->
    </div>
</ion-content>
