ion-content {
    .btn-copy {
        background-color: #313550;
        padding: 7px 45px;
        font-size: smaller;
    }

    qrcode {
        display: inline-block;
        padding: 3px;
        background: white;
    }
}
