<ion-header>
    <ion-toolbar>
        <div class="box">
            <select>
                <option>BTC/VND</option>
                <option>ETH/VND</option>
                <option>DOGE/VND</option>
            </select>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ul
        class="nav nav-tabs nav-tab-list"
        style="justify-content: space-around;"
    >
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#Trade">
                {{ 'exchangeTab.public.trade' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#Open">
                {{ 'exchangeTab.public.openOrder' | translate }}
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#History"
                >{{ 'exchangeTab.public.tradeHistory' | translate }}</a
            >
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="Trade" style="padding: 0;">
            <app-exchange-trade></app-exchange-trade>
        </div>
        <div class="tab-pane container fade" id="Open">
            <app-exchange-open-order></app-exchange-open-order>
        </div>
        <div class="tab-pane container fade" id="History">
            <app-exchange-history></app-exchange-history>
        </div>
    </div>
</ion-content>
