.buy-sell-order {
    .input-group-prepend span {
        border-radius: 0;
    }
    .input-group-append span {
        border-radius: 0;
    }

    .btn {
        border-radius: 0;
        padding: 0;
        height: 30px;
    }

    label {
        font-size: smaller;
        color: var(--ion-color-step-700);
    }
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box select {
    background-color: #002742;
    color: white;
    padding: 12px;
    width: 150px;
    border: none;
    font-size: medium;
    // box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
}

.box::before {
    content: ' \25BC';
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    line-height: 45px;
    // color: rgba(255, 255, 255, 0.5);
    color: yellow;
    // background-color: rgba(255, 255, 255, 0.1);
    pointer-events: none;
}

.buy-sell-order-table {
    font-size: 0.8em;

    .col-6 {
        padding: 0;
    }
    table {
        background-color: #002742;
        padding: 0;
        tbody {
            height: 200px;
            overflow-y: auto;
            display: block;
        }
        thead {
            display: block;
        }
        td,
        th {
            width: 100%;
        }

        td {
            padding: 5px 12px;
        }
    }

    table.sell-table {
        tbody tr td.price {
            color: #db026c;
        }
    }

    table.buy-table {
        tbody tr td.price {
            color: #08b83d;
        }
    }
}

.nav-tab-list {
    flex-direction: row;
    li {
        flex: 1;
        text-align: center;
        a {
            font-weight: bold;
        }
    }

    .nav-link {
        border-top: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
        background: transparent;
        color: white;
        font-size: small;
    }

    .nav-link.active {
        color: #f3bc07;
        border-bottom: #f3bc07 4px solid;
    }
}
